<h1 class = "m-5 text-center">My booking requests</h1>
<div class="container">
  <div class="row">
      <%@mybookings.each do |booking|%>
    <div class="col-6">
        <div class="card-product">
        <img src="<%=image_path('unicorn.jpeg')%>" alt="unicorn">
          <div class="card-product-infos">
            <h2><%= booking.animal.name %></h2>
            <p class= "mb-3"> <u>Reservation date:</u> <%= booking.booking_date%></p>
            <%= link_to "✔︎ Accept", booking_path(booking, status: "accept"), data: {turbo_method: :patch}, class: "btn btn-outline-success rounded-4 border-0"%>
            <%= link_to "✘ Refuse", booking_path(booking, status: "refuse"), data: {turbo_method: :patch}, class: "btn btn-outline-danger rounded-4 border-0" %>
          </div>
          </div>
    </div>
  <% end %>
  </div>
  <br>
  <%= link_to " ⏎ Back", my_animals_path, class: "btn btn-ghost" %>
</div>
