<div class="container">
  <div class="row">
    <div class="col border-radius">
      <%= simple_form_for(@animal) do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :fear %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Confirm modification", class: "btn btn-ghost mb-3"%>
      <% end %>
    </div>
  </div>
</div>
