<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%=image_path('saut.jpg')%>);">
  <div class="container">
    <h1 class="text-center"> Welcome ! </h1>
    <p class="text-center"> Find your perfect animal for any reason you may have... even weird ones...</p>
  </div>
</div>

<div class="container">
  <div class="cards-animal">
      <% @animals.each do |animal| %>
        <%= link_to animal_path(animal) do %>
          <div class="zoom">
            <div class="card-animal mb-3">
              <img src="<%=image_path('unicorn.jpeg')%>" alt="unicorn">
              <div class="card-animal-infos">
                <div>
                  <h2><%= animal.name %></h2>
                  <p><%= animal.category %> | fearness level: <%= animal.fear %></p>
                </div>
                <h2 class="card-animal-pricing"><%= animal.price %> $</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
