<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="text-center m-5">Discover your favorite animal</h1>
        <div class="m-3 d-flex" style="height: 350px;">
          <% if @animal.photo.key? %>
            <%= cl_image_tag @animal.photo.key, height: 300, width: 400, class:"rounded-4 shadow mx-auto"%>
          <% else %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
        <div class= "backround">
          <div class="d-flex justify-content-between">
            <h2><%= @animal.name %></h2>
            <h2 class="card-animal-pricing"><%= @animal.price %> $ </h2>
          </div>
          <p><%= @animal.category %> | fearness level <%= @animal.fear %></p>
          <p><%= @animal.description %></p>
        </div>
        <br>
      <%= link_to "Book now", new_animal_booking_path(@animal), class: "btn btn-ghost" %>
  <br>
  <br>
  <%= link_to " âŽ Back", animals_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
